nav {
	background-color: #011375;
}

body {
	background: linear-gradient(rgba(99, 97, 97, 0.5), rgba(99, 97, 97, 0.5)), url("background.jpeg");
	color: white;
	background-size: cover;
}

.text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.text > button {
	align-self: center;
}

hr {
	color: #011375;
	border-color: #011375;
	max-width: 1000px;
	border-width: 500px;
	height: 8px;
}